[supabase]
url = "https://TU-PROYECTO.supabase.co"
key = "TU_SUPABASE_KEY"

[mongodb]
uri = "mongodb+srv://USUARIO:CLAVE@cluster.mongodb.net/?retryWrites=true&w=majority"
database = "tarea_semana8"
comments_collection = "comments"
events_collection = "events"
